events {}

http {

    server {

        listen 8080;

        auth_basic "Private Terminal";
        auth_basic_user_file /etc/nginx/.htpasswd;


        location /health {
            return 200 "NGINX OK\n";
        }

        location /anime/ {
            alias /workspace/anime-client/;
            index index.html;
            
            # This ensures internal routing works perfectly for modern web apps
            try_files $uri $uri/ /anime/index.html;
        }

        location / {

            proxy_pass http://127.0.0.1:7681;

            proxy_http_version 1.1;

            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
            proxy_set_header Host $host;
        }
    }
}
